/*Global------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0%;
    background-color: #f882db;
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Header------------------------------------------------------------------*/
.title {
    padding: 2.5rem;
    background-color: rgb(55, 117, 233);
    text-align: center;
    font-size: 2.5rem;
    margin:  2rem 0em 2.5rem 0;
    color: white;
    box-shadow: 3px 3px 3px rgb(66, 65, 65);
}
/*Main--------------------------------------------------------------------*/
.subtitle{
    font-size: 2.4rem;
    background-color: rgb(197, 58, 252);
    text-align: center;
    border-radius: 30px;
    margin-bottom: 0.7rem;
    color: white;
    
}
h3 {
    background-color: rgb(58, 119, 252);
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    color: white;
}

.container-img {
    width: 45rem;
    height: 45rem;
    margin: auto;
    margin-bottom: 5rem;
}

.container-list {
    margin: 1.4rem;
    padding-left: 1.4rem;
}

.list-no-order {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 60%;
    box-shadow:  0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.container-form { 
    padding: 1.2rem;
    margin-left: 1.2rem;
}

.form-total{
    margin: 0;
    width: 2,4rem;
    padding: 1em;
    border: 0.4rem;
    border-radius: 20%;
}


.form-contact {
    background: white;
    border-radius: 10px;
    
}

.buttons {
    padding-top: 0.4rem;
    padding-left: 1.2rem;
    margin-bottom: 1.2rem;
}

button {
    background-color: rgb(55, 117, 233);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 0.5em;
    padding-top: 0.5rem;
    
}
/*Footer------------------------------------------------------------------*/
.links {
    text-decoration: none;
    padding-left: 1rem;
    color: black;
    font-size: large;
}

.links:hover {
    cursor: pointer;
    color: rgb(55, 117, 233);
}
